<style>
    .form-container {
        background-color: #222;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        margin: 0 auto;
    }

    .form-label {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
    }

    .form-input:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    .form-button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    .form-button:hover {
        background-color: #45a049;
    }
</style>

<div class="form-container">
    {{ form_start(form) }}
    <label class="form-label">Type:</label>
    {{ form_widget(form.typeAb, { 'attr': {'class': 'form-input'} }) }}
    {{ form_errors(form.typeAb) }}



    <label class="form-label">Payment Mode:</label>
    {{ form_widget(form.modePaiementAb, { 'attr': {'class': 'form-input'} }) }}
    {{ form_errors(form.modePaiementAb) }}

    <button class="form-button" type="submit">Save</button>
    {{ form_end(form) }}
</div>
