{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>TypeAb</th>
                <td>{{ abonnement.typeAb }}</td>
            </tr>
            <tr>
                <th>PrixAb</th>
                <td>{{ abonnement.prixAb }}</td>
            </tr>
            <tr>
                <th>ModePaiementAb</th>
                <td>{{ abonnement.modePaiementAb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_abonnementf_index') }}">back to list</a>

    <a href="{{ path('app_abonnementf_edit', {'id': abonnement.id}) }}">edit</a>

    {{ include('abonnementf/_delete_form.html.twig') }}
{% endblock %}
